* {
  margin: 0;
  padding: 0;
}
body {
  background: #111115;
  font-family: "pangramregular", serif, Coustard;
  font-weight: 400;
  color: #ccc;
}

@font-face {
  font-family: "pangramblack";
  src: url("../assets/fonts/pangram-black-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangrambold";
  src: url("../assets/fonts/pangram-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangramextralight";
  src: url("../assets/fonts/pangram-extralight-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pangramregular";
  src: url("../assets/fonts/pangram-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/pangram-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#workInProgress {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 21, 1.8);
  color: #fff;
  font-size: 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "pangrambold", serif, Coustard;

  z-index: 99999; /* Make sure the div is on top of other content */
}

@media only screen and (max-width: 90px) {
  #workInProgress {
    display: block;
  }
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  --tw-bg-opacity: 0.21;
  background-color: hsl(0 0% 4% / var(--tw-bg-opacity));
  background: transparent url("../img/framernoise.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.1;
  visibility: visible;
  z-index: -1;
}

.logo-Image {
  width: 100px;
  position: fixed;
  left: 50px;
  top: 50px;
  font-size: 30px;
  z-index: 10;
  text-shadow: 0 2px 2px #000;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-5%, 5%);
  }
  30% {
    transform: translate(5%, -4%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-5%, 5%);
  }
  60% {
    transform: translate(5%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-5%, 0);
  }
  90% {
    transform: translate(5%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.header {
  font-weight: 900;
  color: #ccc;
  position: fixed;
  left: 50px;
  top: 50px;
  font-size: 30px;
  z-index: 10;
  text-shadow: 0 2px 2px #000;
}
.header a {
  text-decoration: none;
  color: #eee;
}
canvas {
  display: block;
}
#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.content {
  margin-top: -3em;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 100px;
  padding: 200px;
  /* width: auto; */
}

/* item */
.item {
  font-family: "pangramregular", serif, Coustard;
  text-decoration: none;
  color: #eee;
}
.item a {
  text-decoration: none;
  color: #eee;
}
.item h2 {
  font-weight: 900;
  color: #fff;
}
.item p {
  font-weight: 400;
  color: #ccc;
}
.item:last-child {
  margin-right: 300px;
}

.item img {
  width: 30vw;
  height: 30vw;
  opacity: 0.1;
}
/* single */
.single {
}
.single h1 {
  margin-bottom: 1em;
  font-size: 3em;
}
figure {
  margin: 0 0 3em 0;
  display: flex;
  gap: 50px;
}
figure + figure {
  flex-direction: row-reverse;
}
figure img {
  float: left;
  margin-right: 30px;
}
.single__content {
  max-width: 1000px;
  margin: 50px auto;
}
.single__content p {
  margin: 2em 0;
  line-height: 1.7;
  font-size: 1.1em;
}
.single__content a {
  color: #fff;
}
.single__top {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 150px;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color: #697177;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 100;
}

.footer a:hover {
  color: #fff;
}

.footer p + p {
  margin-left: auto;
  text-align-last: left;
}

.curtain {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(91, 110, 136, 0.5);
  /* background: #000; */
  transform: translate(0, 100%);
  backdrop-filter: blur(30px);
}

[data-barba-namespace] {
  position: absolute;
  top: 0;
}

.second-wrap {
  margin-top: 30em;
}

.welcome {
  font-size: 1em;
  font-weight: 900;
  color: #eee;
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 10;
  text-shadow: 0 2px 2px #000;
  z-index: -1;
}

.first {
  position: fixed;
  top: 30%;
  left: 36.7%;

  transform: translate(-50%, -50%);
  z-index: 10;

  color: #eee;
  text-shadow: 0 2px 2px #000;
  z-index: 1;
  /* background: red; */
  width: 70%;
}

.extra {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 19em;
  width: 80%;
}

.js-image {
  z-index: 61;
}

/* Default styles for .info */
.info {
  width: 40%;
  margin-left: 10em;
}

/* Media query for screens smaller than 768px (e.g., smartphones) */
@media screen and (max-width: 767px) {
  .info {
    width: 10%;
    margin-left: -30em; /* Reset the left margin to occupy the full width */
    font-size: 0.8em;
    margin-top: -9em;
  }
}

/* Media query for screens between 768px and 991px (e.g., tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .info {
    width: 25%;
    margin-left: 15%; /* Adjust the left margin to center the element */
    margin-top: -9em;
  }
}

/* Media query for screens 992px and larger (e.g., desktops and laptops) */
@media screen and (min-width: 992px) {
  .info {
    width: 40%;
    margin-left: 10em;
    margin-top: -7em;
    font-size: 0.8em;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 1em;
}

.accent {
  text-decoration: none;
  color: #697177;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 100;
}

.accent:hover {
  color: #fff;
}
